{% extends 'bases/base.html' %} {% load static%} {% block 'head' %} <link
href="{% static 'user_profile/css/home.css' %}" rel="stylesheet" {% endblock %}
{% block 'body' %}
<div class="container">
  <br />
  <br />
  <div class="row">
    <div class="col-md-3">
      <a
        style="text-decoration: none; color: white"
        href="{% url 'new_value'%}"
      >
        <div class="card">
          <div class="row">
            <div class="col-md-8">
              {% if total_inputs %}
              <span class="fonte-destaque">RS {{total_inputs}}</span>
              {% else %}
              <span class="fonte-destaque">RS 0,0</span>
              {% endif %}
            </div>
            <div class="col-md">
              <img
                class="icone-setas"
                src="{% static 'user_profile/img/inputs.png' %}"
              />
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a
        style="text-decoration: none; color: white"
        href="{% url 'new_value'%}"
      >
        <div class="card">
          <div class="row">
            <div class="col-md-8">
              {% if total_outputs %}
              <span class="fonte-destaque">RS {{total_outputs}}</span>
              {% else %}
              <span class="fonte-destaque">RS 0,0</span>
              {% endif %}
            </div>
            <div class="col-md">
              <img
                class="icone-setas"
                src="{% static 'user_profile/img/exit.png' %}"
              />
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <br />
  <br />

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="saldo">
          <span class="fonte-destaque">Saldo total</span>
          <br />
          <span class="font-light">R$ {{total_account}}</span>
        </div>
        <hr class="hr-borda" />
        <span class="fonte-destaque">Suas contas</span>
        {% for account in accounts %}
        <div class="div-contas">
          <div class="lista-conta">
            <span>{{account.nickname}}</span>
            <span class="total-conta">R$ {{account.value}}</span>
          </div>
          <br />
        </div>
        {% endfor %}
        <hr class="hr-borda" />
        <a href="{% url 'manage' %}" class="botao-principal"
          >Gerenciar contas</a
        >
      </div>
    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="row">
          <div class="col-md">
            <div class="saldo">
              <span class="fonte-destaque">Saldo mensal</span>
              <br />
              {% if total_inputs_in_month %}
              <span class="font-light">R$ {{total_inputs_in_month}}</span>
              {% else %}
              <span class="font-light">R$ 0.000,00</span>
              {% endif %}
            </div>
          </div>
          <div class="col-md">
            <div class="despesa">
              <span class="fonte-destaque">Despesa mensal</span>
              <br />
              {% if total_outputs_in_month %}
              <span class="font-light">R$ {{total_outputs_in_month}}</span>
              {% else %}
              <span class="font-light">R$ 0.000,00</span>
              {% endif %}
            </div>
          </div>
        </div>
        <hr class="hr-borda" />
        <span class="fonte-destaque">Total livre</span>
        {% if monthly_balance %}
        <span class="font-light negativo">R$ {{monthly_balance}}</span>
        {% else %}
        <span class="font-light negativo">R$ 0.000,00</span>
        {% endif %}
        <hr class="hr-borda" />
        <a href="{% url 'new_value' %}" class="botao-principal"
          >Adicionar novo extrato bancário</a
        >
        <hr />
        <a href="{% url 'view_extract' %}" class="botao-principal"
          >Ver extratos</a
        >
        <hr />
        <a href="{% url 'dashboard' %}" class="botao-principal">
          Gráfico de gasto mensal por categoria
        </a>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="saldo">
          <span class="fonte-destaque">Planejamento</span>
        </div>
        <hr class="hr-borda" />
        <a href="{% url 'define_planning' %}" class="botao-principal"
          >Definir planejamento</a
        >
        <hr />
        <a href="{% url 'view_planning' %}" class="botao-principal"
          >Ver planejamento</a
        >
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <span class="fonte-destaque">Equilibrio financeiro</span>
        <hr class="hr-borda" />

        <p>Gastos essenciais</p>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped bg-info"
            role="progressbar"
            style="width: {{ essential_category_percent }}%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <br />
        <p>Gastos não essenciais</p>
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped bg-info"
            role="progressbar"
            style="width: {{ not_essential_category_percent }}%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>

        <hr class="hr-borda" />
        <a href="{% url 'manage' %}" class="botao-principal"
          >Alterar categorias essenciais</a
        >
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-8">
      <div class="card">
        <span class="fonte-destaque">Gerenciar contas</span>
        <hr class="hr-borda" />

        <span class="fonte-destaque">Próximas do vencimento</span>
        <span class="fonte-light">3 contas próximas do vencimento</span>
        <br />
        <span class="fonte-destaque negativo">Vencidas</span>
        <span class="fonte-light">0 contas vencidas</span>

        <hr class="hr-borda" />

        <a href="{% url 'define_bill' %}" class="botao-principal"
          >Definir nova conta</a
        >
        <hr />
        <a href="{% url 'view_bills' %}" class="botao-principal">Ver contas</a>
      </div>
    </div>
  </div>
  <br />
  <br />
</div>
{% endblock %}
