{% extends 'bases/base.html' %} {% load static %} {% block 'head' %}

<link href="{% static 'user_profile/css/home.css' %}" rel="stylesheet" />
<link href="{% static 'user_profile/css/manage.css' %}" rel="stylesheet" />
<link
  href="{% static 'bank_statement/css/view_extract.css' %}"
  rel="stylesheet"
/>

{% endblock %} {% block 'body' %}
<br />
<br />
<div class="container">
  <form action="{% url 'view_extract' %}" method="GET">
    <div class="row">
      <div class="col-md">
        <label>Conta</label>
        <select name="account" class="form-select">
          {% for account in accounts %}
          <option value="{{account.id}}">{{account}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-md">
        <label>Categoria</label>
        <select name="category" class="form-select">
          {% for category in categorys %}
          <option value="{{category.id}}">{{category}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-md">
        <label>Período</label>
        <select name="period" class="form-select">
          <option value="W">Última semana</option>
          <option value="M">Último mês</option>
          <option value="Y">Último ano</option>
        </select>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-2">
        <input
          style="width: 100%"
          type="submit"
          class="botao-principal"
          value="Filtrar"
        />
      </div>
      <div class="col-md-2">
        <input
          style="width: 100%"
          type="submit"
          class="botao-principal"
          value="Remover Filtros"
          name="clear_filters"
        />
      </div>
      <div class="col-md-2">
        <a href="" class="botao-secundario">Exportar extrato</a>
      </div>
    </div>
    <br />
    <br />
  </form>

  <div class="card">
    <table>
      <tr>
        <th>Conta</th>
        <th>Categoria</th>
        <th>Data</th>
        <th>Tipo</th>
        <th>valor</th>
      </tr>
      {% for bank_statement in bank_statements %}
      <tr class="linha">
        <td width="10%">{{bank_statement.account}}</td>
        <td>{{bank_statement.category}}</td>
        <td>{{bank_statement.date}}</td>
        <td>
          {% if bank_statement.kind == 'O'%}
          <img src="{% static 'bank_statement/img/outputs.png' %}" />
          {% else %}
          <img src="{% static 'bank_statement/img/inputs.png' %}" />
          {% endif %}
        </td>
        <td>R$ {{bank_statement.value}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
